@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Poppins:wght@300;400;500;600;800&display=swap');

:root{

   --primary-font: Poppins, sans-serif;
  --secondary-font: Courier-Prime, monospace;

  --primary-bg-color : #F6F8FB;
  --secondary-bg-color : #E9F0F9;
  --gradiant-dark-first-color : rgba(37,37,50,.98);
  --gradiant-dark-second-color : rgba(35,35,45,.98);
  --gradiant-light-first-color : #2d2d3a;
  --gradiant-light-second-color : #2b2b35;
  --white-color : #fff;
  --brand-color : #3A84C9;
  --gray-color : #8c8c8e;


}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body{
  font-family: var(--primary-font);
  font-size: 13px
}



@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-items-link{
  @apply  px-3 py-1 flex  items-center text-[14px] border hover:border-brand-color duration-500 rounded-lg
}